# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.
NODE_ENV=
PORT=
HOST=


#DB ENV
DB_ALTER=
DB_SYNC=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_DIALECT=


# brcypt
SALT_ROUNDS=


# smtp
SMTP_EMAIL=
SMTP_PASSWORD=


# JWT
SECRET_KEY=
EXPIRY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=



# GITHUB OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

# AWS S3
AWS_CLIENT_ACCESS_KEY=
AWS_CLIENT_SECRET_KEY=
AWS_REGION=
AWS_S3_BUCKET=